@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --josefin-sans: 'Josefin Sans', sans-serif;
    --brown: #423c3c;
    --white: #ffffff;
    --pinkish-white: #fff1f1;
    --transparent: #ffffff00;
    --light-pink: #f5b8b7;
    --pink: #c08e8d;
    --reddish-pink: #eb8f90;
    --rose: #b96969;
}

/*MOBILE FIRST*/

.attribution { font-size: 3vw; text-align: center; margin: 0; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: var(--josefin-sans);
    margin: 0;
}

header {
    position: relative;
    z-index: 1;
}

.logo {
    padding: 7vw;
    width: 100%;
    margin: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.logo > img {
    width: 35%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: -12.5vw;
}

.left {
    padding: 10vw 7vw;
    width: 100vw;
    margin: auto;
    order: 2;
    background-image: linear-gradient(180deg, var(--white), var(--pinkish-white));
}

.top {
    margin: inherit;
}

.intro {
    font-size:  12vw;
    font-weight: 200;
    letter-spacing: 4vw;
    text-transform: uppercase;
    text-align: center;
    color: var(--pink);
}

.soon {
    font-weight: 600;
    color: var(--brown);
}

.announce {
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    line-height: 7vw;
    color: var(--pink);
}

.bottom {
    margin: inherit;
}

.right {
    padding: 40vw;
    width: 100vw;
    margin: auto;
    order: 1;
    background: url("../images/hero-mobile.jpg") bottom center no-repeat;
    background-size: contain;
}

.subscribe {
    padding: 10vw 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    background-color: var(--transparent);
    border: 1px solid var(--pink);
    border-radius: 10vw;
    padding: 5vw;
    width: 100%;
    font-family: inherit;
    font-size: 4vw;
    color: var(--pink);
    outline: none;
    position: absolute;
    left: 0;
}

.error {
    position: absolute;
    width: 5vw;
    right: 23vw;
}

.submit {
    background-image: linear-gradient(90deg, var(--light-pink), var(--reddish-pink));
    border: 1vw linear-gradient(90deg, var(--light-pink), var(--reddish-pink)) solid;
    border-radius: 10vw;
    width: 20vw;
    position: absolute;
    right: 0;
}

.submit > img {
    margin: 3.5vw auto;
    width: 4vw;
}

.submit:hover {
    background-image: linear-gradient(90deg, var(--pinkish-white), var(--light-pink));
}

.submit:active {
    background-image: linear-gradient(90deg, var(--pink), var(--reddish-pink));
}

footer {
    background-color: var(--white);
    padding: 5vw;
}

@media screen and (min-width: 1000px) {
    .logo {
        background-color: var(--transparent);
        padding: 5vw 15vw;
    }

    .logo > img {
        width: 15%;
    }

    header {
        position: relative;
        top: 0;
        width: 100%;
        background-color: var(--transparent);
    }

    main {
        flex-direction: row;
        gap: 0;
        width: 100%;
        margin-top: -12.2vw;
    }

    .left {
        order: 1;
        background: url("../images/bg-pattern-desktop.svg") left top no-repeat;
        background-size: cover;
        width: 60%;
        padding: 15vw;
        margin: 0;
    }

    .intro {
        font-size:  4vw;
        letter-spacing: 1vw;
        text-align: left;
    }

    .announce {
        font-size: 1vw;
        text-align: left;
        line-height: 2vw;
        margin: 0;
        padding: 0;
    }

    .right {
        order: 2;
        width: 40%;
        padding: 0;
        margin: 0;
        background: url("../images/hero-desktop.jpg") center center no-repeat;
        background-size: cover;
    }

    .subscribe {
        padding: 5vw 0;
    }
    
    input {
        padding: 1.5vw;
        width: 100%;
        font-size: 1vw;
        outline: none;
        position: absolute;
        left: 0;
    }
    
    .error {
        position: absolute;
        width: 1.5vw;
        right: 20%;
    }
    
    .submit {
        border-radius: 10vw;
        width: 5vw;
        position: absolute;
        right: 0;
    }
    
    .submit > img {
        margin: 1vw auto;
        width: 1vw;
    }

    footer {
        background-color: var(--transparent);
        padding: 1vw;
    }

    .attribution {
        font-size: 1vw;
        line-height: 2vw;
    }
}