@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --josefin-sans: 'Josefin Sans', sans-serif;

    --brown: #423c3c;
    --white: #ffffff;
    --pinkish-white: #fff1f1;
    --transparent: #ffffff00;
    --light-pink: #f5b8b7;
    --light-pink: #f5b8b7;
    --pink: #c08e8d;
    --reddish-pink: #eb8f90;
    --rose: #b96969;
}

.attribution { font-size: 3vw; text-align: center; margin: 0; }
.attribution a { color: hsl(228, 45%, 44%); }

/*MOBILE FIRST*/
body {
    font-family: var(--josefin-sans);
    margin: 0;
}

header {
    position: fixed;
    z-index: 1;
}

.logo {
    padding: 7vw;
    width: 100vw;
    margin: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.logo > img {
    width: 35%;
}

main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, var(--white), var(--pinkish-white));
}

.left {
    padding: 10vw 7vw;
    width: 100vw;
    margin: auto;
    order: 2;
}

.top {
    margin: inherit;
}

.intro {
    font-size:  12vw;
    font-weight: 200;
    letter-spacing: 4vw;
    text-transform: uppercase;
    text-align: center;
    color: var(--pink);
}

.soon {
    font-weight: 600;
    color: var(--brown);
}

.announce {
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    line-height: 7vw;
    color: var(--pink);
}

.bottom {
    margin: inherit;
}

.right {
    padding: 20vw 0 0 0;
    width: 100vw;
    margin: auto;
    order: 1;
}

.right > img {
    width: inherit;
}

.subscribe {
    padding: 10vw 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    background-color: var(--transparent);
    border: 1px solid var(--pink);
    border-right: 0;
    border-radius: 10vw 0 0 10vw;
    padding: 5vw;
    width: 75vw;
    font-family: inherit;
    font-size: 4vw;
    color: var(--pink);
    outline: none;
    position: absolute;
    left: 7vw;
}

.error {
    position: absolute;
    width: 4vw;
    right: 30vw;
}

.submit {
    background-image: linear-gradient(90deg, var(--light-pink), var(--reddish-pink));
    border: 1vw linear-gradient(90deg, var(--light-pink), var(--reddish-pink)) solid;
    border-radius: 10vw;
    width: 20vw;
    position: absolute;
    right: 7vw;
}

.submit > img {
    margin: 3.5vw auto;
    width: 4vw;
}

footer {
    background-color: var(--white);
    padding: 5vw;
}